name: Flutter CI

on:
  push:
    branches: [ "master" ]
  pull_request:

permissions:
  contents: read

jobs:
  test:
    name: Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - name: Install dependencies
        run: flutter pub get

      - name: Run code generation
        run: dart run build_runner build --delete-conflicting-outputs

      - name: Localization check
        run: flutter gen-l10n

      - name: Analyze code
        run: flutter analyze

      - name: Format check
        run: flutter format --set-exit-if-changed .

      - name: Run tests
        run: flutter test --no-pub
